dlisio==1.0.1
pandas==2.2.0
numpy==1.26.4
matplotlib==3.8.2
scipy==1.12.0
notebook==7.0.7
azure-storage-blob==12.19.0
pyarrow==15.0.0 # suppresses deprecation warning by pandas
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
